#Para que o projeto funcione na íntegra, crie um arquivo exatamente com o nome ".env" na root e insira as seguintes variáveis de ambiente:

#Token Groq -> https://groq.com/
GROQ_TOKEN = seu_token_aqui

#Modelo Groq para geração de background e interação com NPCs
MODEL = llama-3.1-8b-instant # média de ~1k tokens por interação completa com NPC (com este modelo)

#durante a criação, utilizamos (e recomendamos) apenas este modelo do Llama. Porém, é possível utilizar de playground para testar a capacidade de outros modelos.