# Arquivos temporários da extenção Code Runner
tempCodeRunnerFile.py

# Arquivos para teste
testes/
teste_main.py
teste_gerar_NPC.py

# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Ambiente virtual (se criar um no futuro)
venv/
.venv/
env/

# Variáveis de ambiente necessárias para o funcionamento do projeto (conforme .env.example)
.env